*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan',sans-serif;    
}
@media (min-width: 420px) and (max-width: 727px) {
/* enter medium tablet and large phone style overrides here */
}

li {
 list-style: none;
 }


    /* NAVBAR STYLING STARTS */
.navbar1 {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px;
 background-color:black;
 color: #fff;
}

        /* NAVBAR MENU */
.menu {
 display: flex;
 gap: 0em;
 font-size: 15px;
}

.menu li:hover {
 background-color:#fc0162;
 border-radius: 5px;
 transition: 0.3s ease;
}
.menu li {
 padding: 5px 14px;
}

#headerbg{
    background-image:url(images/citylight1.jpg);
    height: 130%;
    width: 100%;
    background-repeat:repeat;
    background-size: contain;
}

/*navigation*/
.navbar2 {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px;
 
}

#headline{
    color: #fc0163;
}

#logo1{
    height: 50px;
    width: 150px;
    background-image: url(images/logo1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.navigations {

 display: flex;
 gap: -3em;
 font-size: 15px;  
 
}
.navigations li:hover {
 background-color:#fc0162;
 border-radius: 5px;
 transition: 0.3s ease;
}
.navigations li {
 padding: 5px 14px;
 
}

#buy{
    height: 40px;
    width: 100px;
    background-image: linear-gradient(#8a0737 ,#f5025b);
    float: right;
    border: none;
    }
#buytxt{
    color: white;
}

#eventlogo{
    height: 30%;
    width: 40%;
    background-image: url(images/evenzlogo.png);
    background-repeat: no-repeat;
    position: absolute;
    margin: 312 0 0 100;
}

/*contact-box*/

#contact-box{
    background-color: rgba(0,0,0,0.7);
    height: 700px;
    width: 58%;
    margin: 13px 0px; 
    padding: 25px; 
    float: right;
    
        
}
#contacts{
 display: flex;
 gap: 9em;
 font-size: 12px;
margin: 6px 10 0 50px;
padding-bottom: 5px;
}


.fa-map-location-dot{
    color: red;
    border: 3px solid white;
    border-radius: 50px; 
    padding-right: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}
.location{
  color: white;
  font-size: 15px;
}
.location1{
  color: white;
  font-size: 15px;
}


.fa-building-columns{
    color: red;
    border: 3px solid white;
    border-radius: 50px; 
    padding-right: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}
.speaker{
  color: white;
  font-size: 15px;
}
.speaker1{
  color: white;
  font-size: 15px;
}


.fa-calendar-days{
    color: green;
    border: 3px solid white;
    border-radius: 50px; 
    padding-right: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}
.booking{
  color: white;
  font-size: 15px;
}
.booking1{
  color: white;
  font-size: 15px;
}

#txt---{
    color:  rgba(0,0,0,0);
}


h2{
    color: white;
    margin-top: 70px;
    margin-left: 30px;
    font-size: 30px;
}

.sendbtn
    {
    height: 6%;
    width: 23%;
    position: absolute;
    background: #fc0163;
    margin: -10px 38px;
    border: none;
        border-radius: 3px;
    }
#sendtxt{
    color: white;
}
#line1{
    display: block;
    height: 2px;
    border: 0;
    border-top: 10px solid white;
    margin: 1em 50;
    padding: 0;
    width: 89%;
}

.fa-calendar-days{
    color: white;
    
}

#messagetxt{
    color: white;
    margin: 0 0 0 50px;
}
#your-message{
     height: 8%;
     width: 89%;
     margin: -10px 0 5 50px;
}
#nametxt{
    color: white;
    margin: 0 0 0 50px;
}
#your-name{
    height: 8%;
    width: 42%;
    margin: -10px 0 15px 50px;
}

#emailtxt{
    color: white;
    position: absolute;
    margin-top: -70px;
    margin-left: 403px;
    
}
#your-email{
    height: 8%;
    width: 42%;
    margin: -40px 0 0 403px;
}

#numbertxt{
    color: white;
    margin: 0 0 0 50px;
}
#phone-number{
    height: 8%;
    width: 42%;
    margin: -10px 0 0 50px;
}
/*icons*/
.fa-youtube{
    margin: 7px 15px;
}
.fa-twitter{
    margin: 7px 10px;
}

.fa-instagram  {
    margin: 7px 10px;
}

.fa-facebook-f{
    margin: 7px 10px;
}
.fa-magnifying-glass{
    
    color: white;
    border: 3px solid white;
    border-radius: 2px; 
    padding-right: 6px;
    padding-top: 15px;
    padding-left: 6px;
    padding-bottom: 15px;
}
.fa-bars{
    margin: 0 10px 0 10px;
    color: white;
    border: 3px solid white;
    border-radius: 2px; 
    padding-right: 8px;
    padding-top: 15px;
    padding-left: 8px;
    padding-bottom: 15px;
}

#map{
    background-image: url(images/map.jpg);
    width: 100%;
    height: 100%;  
    background-repeat: no-repeat;
    background-size:cover;
    
    }   
#footerbg{
    background-color: #14191c;
    width: 100%;
    height: 100%;  
    background-repeat: no-repeat;
    background-size:cover;
    
}
#footerbox{
    background-color: grey;
    margin: 0px 30px;
    width: 95%;
    height: 410px;  
    border: 10px solid white; 
    padding-top: 60px;
    }   
#line2{
    display: block;
    height: 2px;
    border: 0;
    border-top: 10px solid #f5025b;
    margin: auto;
    padding: 0;
    width: 24%;
}

#news{
    text-align: center;
    font-size: 40px;
    color: white;
}
   
#subscribe{
    text-align: center;
    color: white;
}
#ftrmail{
     height: 6%;
    width: 27%;
    position: absolute;
    margin: 40px 410px;
}
#signup{
    left: 0;
    height: 6%;
    width: 7%;
    position: absolute;
    background: #fc0163;
    margin: 40px 850px;
    border: none;
    }
#signuptxt{
    color: white;
}
#line3{
    display: block;
    height: 5px;
    border: 0;
    border-top: 6px solid white;
    margin: auto;
    margin-top: 10px;
    padding: 0;
    width: 6%;
    border-radius: 10px;
}
#logo2{
    height: 8%;
    width: 8%;
    background-image: url(images/evenz-logo-compact-large-color.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#events{
    color: white;
    text-align: center;
    padding-top: 10px;
}
.fa-square-twitter{
    padding-left: 630px;
    margin-top: 30px;
    color: white;
}
.fa-linkedin-in{
    padding-left: 30px;
    color: white;
}
.fa-square-facebook{
    color: white;
    padding-left: 30px;
}
 /* ftrbar STYLING STARTS */
.ftrbar {
 display: flex;
 align-items: baseline;
 justify-content: space-between;
 padding: 27px 10px;
 background-color:#111619;
 color: #fff;
 height: 40px;
}

        /* footer */
.footer {

 display: flex;
 gap: 0em;
 font-size: 15px; 
}
.footer li:hover {
 background-color:#fc0162;
 border-radius: 5px;
 transition: 0.3s ease;
}
.footer li {
 padding: 1px 8px;
}


